
/* * {
	margin: 0 auto;
} es ar gchirdeba, imitom rom am nishnit * kvlea css amateb am property-s tkuila*/ 

#container {
	margin: 0 auto;
	margin-top: 10px;
	width: 400px;
	height: 670px;
	background-image: url(../img/main.png); /* es imiji sad aris? consolshi 
	egreve erorr chans rom ver poulobs*/
	background-repeat: no-repeat;
	background-color: black;
	/*border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: red;*/
}
header {
	/*border-top-right-radius: 30px;
	border-top-left-radius: 30px;*/
	/* float: left; */
	width: 100%;
	height: 30px;
	margin-top: 30px;
	background-color: red;
	/*background-image: url(main3.png);*/	
}

#app-title {
	/* float: left; აქ შეგიძლია float აღარც დაწერო, რადგან ისედაც მშობელი დივის განს
	აიღებს და ისედაც ისეთი განლაგება ექნება, როგორიც გინდა */
	height: 30px;
	/*width: 100%; ესეც შეგიძია აღარ დაწერო, რადგან div ისედაც დეფაულთათ,
	bock ელემენტია და მთლიან სივრცეს დაიკავებს განში */ 
	/*background-color: black;	*/
}
#app-title h3 {
	color: white;
	text-align: center;
}
/* ან ასე (ეს უკვე გემოვნების ამბავია)*/
/*#app-title > h3 { /* #app-title-ის შვილი(>) h3 
	color: white;
	text-align: center;
} */ /* aq komentars ar xuravdi da sheni main-ic agar mushaobda da ro
 davxure ai ra moxda webgverdze main gamochnda tavisi mcvane ferit */
main {
	width: 285px;
	height: 472px;
	background-color: green;
	margin: 0 auto;
}
main nav ul  {
	padding: 0px;
}

main nav ul li {
	/* display: inline; */
	height: 60px;
	width: 100%;
	background-color: black;
	list-style: none;
	/* margin-left: -20px; */
	/* float: left; */
	text-align: center;
	/* clear: both; */
	color: white;
	margin: 2px 0;
}
main nav {
	margin-top: 80px;
}
/* es sheidzleba dagainteresos */
main nav ul li a {
	background: black;
	display: block;
	color: #fff;
	line-height: 60px; /* madzlevs shesadzleblobas texsti centrshi ganvatavso */

	transition: background, color .7s;
	-webkit-transition: background, color .7s;
}
/* end */
main nav ul li a:hover {
	background: gray;
	color: #000;
}
a {
	text-decoration: none;
}
/* .menu1 a {
	margin-left: 0px;
	float: left;
	padding-top: 15px;
	padding-bottom: 27px;
	width: 100%;
} 
.menu1 a:hover {
	background-color: gray;
} */


#transport-info {
	height: 130px;
	width: 100%;
	background-color: #c9fad6; /* დროებით მოხსენი ეს ფერი და  ნახავ 
	სად არის განთავსებული იმიჯი და float-ს რომ მოხსნი მერე რა ხდება */
	/*border-bottom: 4px solid black; */
}
#transport-info h3 {
	text-align: center;
}

#map-space {
	background: url(../img/map.JPG) no-repeat center center;
	height: 450px;
	width: 100%;
	background-size: cover;
}
/*#transport-img {
	float: left;
	height: 50px;
	width: 50px;
}*/
#transport-img {
	margin: 5px 0 0 5px;
}
#transport-img img{
	border: 1px solid;
	height: 50px;
	width: 50px;
}
/* #info-text {
	float: left;
	margin-left: 100px;
	margin-top: -55px;	
} */
#transport-info p { 
	margin: 5px;
	display: inline-block;
	vertical-align: top; /* inine-blockis dros shegidzli gamoikeno*/ 
}
span { /* ერთი სპან როცამავს კი შეიძლება :)
	/* height: 5px;
	width: 100%;
	background-color: black;
	float: left;
	display: block; */
}
